include "startup.kdl"
include "rules.kdl"
include "binds.kdl"

prefer-no-csd
screenshot-path null

hotkey-overlay {
        skip-at-startup
}

input {
        keyboard {
                numlock
                xkb {
                        layout "br"
                }
        }
        warp-mouse-to-focus
        focus-follows-mouse
}

cursor {
        xcursor-size 30
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

layer-rule {
        match namespace="^wallpaper$"
        place-within-backdrop true
}


layout {
        gaps 8
        center-focused-column "never"
        preset-column-widths {
                proportion 0.33333
                proportion 0.5
                proportion 0.66667
        }
        default-column-width { proportion 0.5; }

        focus-ring {
                width 1
                active-color "#D0D0D0"
                inactive-color "#151515"
        }

        background-color "transparent"
}
