@import "/home/xspt/.cache/wal/waybar.css";

* {
   font-family: "Cousine Nerd Font", monospace;
   font-size: 13px;
}

window#waybar {
   padding: 0px;
   background-color: @background;
   color: @foreground;
   border: solid 1px @color8;
   border-radius: 5px;
}

.modules-left {
   margin: 1px;
   background-color: @background;
}

#workspaces button {
   transition: none;
   padding: 0px;
   color: @color8;
}

#workspaces button.focused {
   color: @color7;
}

#workspaces button.current_output {
   color: @color7;
}

.modules-center {
   padding: 1px 5px;
   margin: 3px;
}

#custom-prev, #custom-next {
   font-size: 15px;
   color: @color6;
   padding: 0 5px;
}

.modules-right {
   margin: 3px;
   margin-right: 10px;
}

#privacy {
   color: @color7;
   padding: 0 5px;
   border-bottom: solid 1px @color7;
   margin-right: 5px;
}

#pulseaudio {
   color: @color5;
   padding: 0 5px;
   border-bottom: solid 1px @color5;
   margin-right: 5px;
}

#pulseaudio.muted {
   color: @color1;
   padding: 0 5px;
   border-bottom: solid 1px @color1;
   margin-right: 5px;
}

#network {
   color: @color3;
   padding: 0 5px;
   border-bottom: solid 1px @color3;
   margin-right: 5px;
}

#network.disconnected {
   color: @color1;
   padding: 0 5px;
   border-bottom: solid 1px @color1;
   margin-right: 5px;
}

#custom-weather {
   color: @color4;
   padding: 0 5px;
   border-bottom: solid 1px @color4;
   margin-right: 5px;
}

#clock {
   color: @color6;
   padding: 0 5px;
   border-bottom: solid 1px @color6;
}
