@import "/home/xspt/.cache/wal/waybar.css";

* {
    font-family: "Cousine Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    padding: 0px;
    background-color: transparent;
    color: @foreground;
}

.modules-left {
    border-radius: 5px;
    padding-right: 4px;
    background-color: @background;
    border: solid 1px @color8;
}

#workspaces button {
    transition: none;
    padding: 0px;
    color: @color8;
}

#workspaces button.focused {
    color: @color7;
}

#workspaces button.current_output {
   color: @color7;
}

.modules-center {
    border-radius: 5px;
    background-color: @background;
    padding: 0 5px;
    border: solid 1px @color8;
}

#custom-prev, #custom-next {
   font-size: 15px;
   color: @color6;
   padding: 0 5px;
}

.modules-right {
    border-radius: 5px;
    background-color: @background;
    padding: 0 5px;
    border: solid 1px @color8;
}

#privacy {
   padding: 0 5px;
   color: @color2;
}

#pulseaudio {
    padding: 0 5px;
    color: @color5;
}

#pulseaudio.muted {
    color: @color1;
}

#network {
   padding: 0 5px;
   color: @color3;
}

#network.disconnected {
   color: @color1;
}

#custom-weather {
    padding: 0 5px;
    color: @color4;
}

#clock {
    padding: 0 5px;
    color: @color6;
}
